/*E18D17 (amarillo) 
FAC200 (naranja) 
596787 (azul)*/

body {
    background-color: black;
}

/* General */
.bg-black {
    background-color: black;
}

.follow-link {
    color: white;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.follow-link:hover {
    text-decoration: none;
    color: #FAC200;
}

.text-orange {
    color: #FAC200;
}

.date-box {
    border-radius: 10px;
    width: 100%;
    color: black;
    background-color: white;
    display: inline-block;
    line-height: 1;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.5rem;
    opacity: 0.5;
}

.date-box p {
    font-size: 1.2rem;
    color: #757575;
    line-height: 2;
}

.btn-buy {
    display: inline-block;
    background-color: #FAC200; /* Color naranja */
    color: white; /* Texto blanco */
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.btn-buy:hover {
    background-color: white; /* Color más oscuro para el hover */
    transform: scale(1.05);
    color: #FAC200;
}

.btn-buy:active {
        transform: scale(0.98);
}

.main {
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
    
.view-video {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 300px;
    display: flex;
}

.logo-container {
    position: fixed;
    top: 50px;
    left: 20px;
    max-width: 270px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
    /*flex-wrap: wrap;*/
}

/* Galery */

.galery {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
}

.img-card {
    display: block;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 200ms ease-in;
    filter: grayscale(1) opacity(.8);
    margin: auto;
    margin-bottom: 30px;
}

.img-card:hover {
    filter: grayscale(0) opacity(1);
}

.img-card::before,
.img-card::after {
    transform: scaleY(-1);
}

/*reflection*/
.img-card:hover::after {
    content: '';
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: inherit;
    height: 10%;
    position: absolute;
    bottom: -15%;
}

/*fade reflection*/
.img-card:hover::before {
    content: '';
    width: inherit;
    height: 12%;
    position: absolute;
    bottom: -15%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9),rgba(255, 255, 255, .5));
    z-index: 1;
}

.img1 {
    background-image: url('../img/07_foto_5.jpg');
}

.img2 {
    background-image: url('../img/07_foto_6.jpg');
}

.img3 {
    background-image: url('../img/07_foto_7.jpg');
}
